.subscribe-btn {
    background-color: red;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    opacity: 1;
}

.subscribe-btn:hover {

   opacity: 0.3; 
}
.empty-box {
    width: 200px;          
    height: 100px;         
    border: 2px solid black;  
    padding: 20px;         
    margin: 20px;          
}
h1{
    position:absolute;
    top:150px;
    left: 50px;
}   
.sticky-header {
    background-color: orange;
    padding: 15px;
    font-size: 22px;
    position: sticky;   /* Sticky property */
    top: 0;             /* Stick to the top */
}